{:logseq-journals-calendar {:version "0.10.5", :repo "xyhp915/logseq-journals-calendar", :effect false, :theme false}
 :logseq-tags {:version "v0.1.2", :repo "gidongkwon/logseq-plugin-tags", :effect false, :theme false}
 :logseq-todo-master {:version "v1.10.3", :repo "pengx17/logseq-plugin-todo-master", :effect false, :theme false}
 :logseq-link-preview {:version "v2.2.9", :repo "pengx17/logseq-plugin-link-preview", :effect true, :theme false}
 :logseq-todo-plugin {:version "v1.11.1", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false}
 :logseq-calendars-plugin {:version "2.2.2", :repo "sawhney17/logseq-calendars-plugin", :effect true, :theme false}
 :logseq-tocgen {:version "v1.21.4", :repo "sethyuan/logseq-plugin-tocgen", :effect true, :theme false}
 :logseq-habit-tracker {:version "v0.4.0", :repo "c6p/logseq-habit-tracker", :effect false, :theme false}
 :logseq-inbox-telegram-plugin {:version "v0.0.9", :repo "shady2k/logseq-inbox-telegram-plugin", :effect false, :theme false}
 :logseq-tweet-extractor {:version "1.0.15", :repo "sawhney17/logseq-twitter-extractor", :effect true, :theme false}
 :logseq-get-youtube-captions {:version "v1.1.0", :repo "briansunter/logseq-get-youtube-captions", :effect true, :theme false}
 :logseq-readwise-official-plugin {:version "v1.3.8", :repo "readwiseio/logseq-readwise-official-plugin", :effect true, :theme false}}
